body{
    margin:0;
    overflow:hidden;
    background:#000;
    font-family:Arial;
}

/* CANVAS */
canvas{
    position:absolute;
    inset:0;
}

/* HUD */
#game-ui{
    position:absolute;
    inset:0;
    pointer-events:none;
}

.health-card{
    position:absolute;
    top:20px;
    left:20px;
    width:250px;
    background:#111;
    padding:10px;
    border-left:5px solid red;
    color:white;
}

.hp-track{
    position:relative;
    height:15px;
    background:#222;
    margin:5px 0;
}

#health-bar{
    position:absolute;
    height:100%;
    width:100%;
    background:red;
    transition:width 0.15s;
}

#health-bar-delay{
    position:absolute;
    height:100%;
    width:100%;
    background:orange;
    transition:width 0.5s;
}

.low-hp{
    animation:pulse 0.5s infinite;
}

@keyframes pulse{
    0%{box-shadow:0 0 5px red;}
    50%{box-shadow:0 0 20px red;}
    100%{box-shadow:0 0 5px red;}
}

/* STATS */
.stats-card{
    position:absolute;
    top:20px;
    right:20px;
    background:#111;
    padding:10px;
    color:white;
}

/* CROSSHAIR */
#crosshair{
    position:absolute;
    width:20px;
    height:20px;
    border:2px solid red;
    border-radius:50%;
    pointer-events:none;
    transform:translate(-50%,-50%);
}

/* FLASH */
.flash{
    position:absolute;
    inset:0;
    background:rgba(255,255,255,0.2);
    animation:flash 0.1s;
}

@keyframes flash{
    from{opacity:1;}
    to{opacity:0;}
}

/* BLOOD */
#blood-screen{
    position:absolute;
    inset:0;
    pointer-events:none;
    box-shadow:inset 0 0 0 0 red;
}
